__pycahe__/
complete_files/*
!complete_files/
database/__pycache__
database_videos/__pycache__
handlers/__pycache__
models/
repository/__pycache__
schema/__pycache__
tested_videos/
tests/
templates/index.html
upload_files/*
!upload_files/
venv/
video_processing/__pycache__
videos/
z_other/
.dockerignore
.env
.env.prod
.gitignore
classes_models.py
create_db.py
create_db_postgres.py
docker-compose.yml
Dockerfile
mydatabase.db
nginx.conf
settings.py
settings_docker.py
test.py
test_yolo.
video_archive.db-journal
